.Introduce {
  text-align: center;
}

.Avatar {
  border-radius: 50%;
  width:150px;
  height: 150px;
  transform:translateY(-50%);
}

h1 {
  font-size: 2.4em;
  padding: 10px;
  margin: 20px;
  transform: translateY(-50%)
}

h2 {
  font-size: 2em;
  transform: translateY(-50%)
}

hr {
  border-color: grey;
  border-width: 2px;
}